/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/fraunces/fraunces-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fraunces/fraunces-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fraunces/fraunces-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fraunces/fraunces-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/fraunces/fraunces-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fraunces/fraunces-v23-latin-regular.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-700 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('./resources/fraunces/fraunces-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fraunces/fraunces-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fraunces/fraunces-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fraunces/fraunces-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./resources/fraunces/fraunces-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fraunces/fraunces-v23-latin-700.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* fraunces-italic - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: italic;
    font-weight: 400;
    src: url('./resources/fraunces/fraunces-v23-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/fraunces/fraunces-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/fraunces/fraunces-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/fraunces/fraunces-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./resources/fraunces/fraunces-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/fraunces/fraunces-v23-latin-italic.svg#Fraunces') format('svg'); /* Legacy iOS */
}
/* overpass-regular - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/overpass/overpass-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/overpass/overpass-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/overpass/overpass-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/overpass/overpass-v12-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}
/* overpass-800 - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 800;
    src: url('./resources/overpass/overpass-v12-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/overpass/overpass-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/overpass/overpass-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/overpass/overpass-v12-latin-800.svg#Overpass') format('svg'); /* Legacy iOS */
}
/* overpass-italic - latin */
@font-face {
    font-family: 'Overpass';
    font-style: italic;
    font-weight: 400;
    src: url('./resources/overpass/overpass-v12-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/overpass/overpass-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/overpass/overpass-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./resources/overpass/overpass-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/overpass/overpass-v12-latin-italic.svg#Overpass') format('svg'); /* Legacy iOS */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
    background-color: #542344;
    font-family: 'Overpass', serif;
}

#content {
    display: grid;
    grid-template-rows: 12% 88%;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 3%;
    color: #EBF5EE;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.75vw;
}

.main {
    background-color: #EBF5EE;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    grid-template-columns: 25% 72%;
    column-gap: 3%;
    padding: 2% 2% 1%;
}

.fa-thumbtack {
    color: #EBF5EE;
}

.fa-thumbtack:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h1:hover,
h2:hover {
    cursor: default;
}


/* DASHBOARD */

.dashboard {
    display: grid;
    grid-template-rows: 25% 72%;
    row-gap: 3%;
}

.dashboard-filters,
.dashboard-projects,
.list {
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.dashboard-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20%;
}

.dashboard-filters > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-family: 'Overpass', serif;
}

.filters-btn {
    border: none;
    outline: none;
    background-color: #EBF5EE;
    font-size: 1.5vw;
}

.filters-btn:hover,
.projects-name:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.filters-btn:active,
.projects-name:active {
    transform: translate(-1px, 1px);
}

.clicked {
    font-weight: 800;
    text-decoration: underline;
}

.filters-counter,
.projects-counter {
    background-color: #808080;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
}

.filters-counter:hover,
.projects-counter:hover {
    cursor: default;
}

.dashboard-projects {
    display: grid;
    grid-template-rows: 10% 82%;
    row-gap: 8%;
    padding: 7% 5% 4%;
    overflow-y: scroll;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 2vw;
}

.projects-btn {
    border: none;
    outline: none;
    background-color: #542344;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
    color: #EBF5EE;
    font-size: 3vw;
}

.projects-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.projects-btn:active {
    transform: translate(-3px, 5px);
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 0 5% 0 2%;
}

.projects-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-name {
    font-size: 1.25vw;
    background-color: #EBF5EE;
    border: none;
    outline: none;
}


/* TO-DO LIST */

.list {
    display: flex;
    flex-direction: column;
    gap: 4%;
    padding: 5% 5% 2%;
    overflow-y: scroll;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e6e7;
    padding: 1.25% 1.5%;
    border-radius: 5px;
}

.list-item:hover {
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}

.low-priority {
    border-left: 8px solid #cfbdc9;
}

.medium-priority {
    border-left: 8px solid #99728c;
}

.high-priority {
    border-left: 8px solid #542344;
}

.item-left,
.item-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-right {
    gap: 25px;
}

.item-check,
.item-edit,
.item-delete {
    border: none;
    outline: none;
    background-color: #e8e6e7;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}

.item-edit,
.item-delete {
    font-size: 1.25vw;
}

.fa-square,
.fa-square-check,
.fa-trash-can {
    color: #696969;
}

.fa-square:hover,
.fa-square-check:hover,
.fa-pen-to-square:hover,
.fa-trash-can:hover {
    color:#99728c;
    cursor: pointer;
}

.item-description {
    font-size: 1.25vw;
}

.item-description:hover,
.item-date:hover {
    cursor: default;
}

.item-notes {
    background-color: #e8e6e7;
    border: 1px solid #542344;
    outline: none;
    padding: 0.25rem 0.6rem 0.1rem;
    border-radius: 3px;
    color: #542344;
}

.item-notes:hover {
    cursor: pointer;
    background-color: #542344;
    border: 1px solid #542344;
    color: #e8e6e7;
}

.item-date {
    font-size: 0.9vw;
}

.selected {
    color: #808080;
}

.strike {
    text-decoration: line-through;
}

.done {
    color: #99728c;
    border: 1px solid #99728c;
}


/* POP-UP CARDS */

/* CREATE-NEW CARD */

.add-new-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBF5EE;
    width: 50vw;
    height: 60vh;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.add-cancel {
    display: flex;
    justify-content: flex-end;
    color: #542344;
    padding: 3% 3% 0 0;
}

.add-cancel:hover,
.fa-xmark:hover {
    cursor: pointer;
}

.add-cancel:active {
    color: yellow;
}

.add-form {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100%;
    row-gap: 10%;
    padding: 2% 5% 3%;
}

.add-type {
    display: flex;
    align-items: center;
    padding-left: 1%;
    gap: 10%;
    border-bottom: 1px solid #808080;
}

.type-title {
    font-family: 'Fraunces', serif;
    color: #542344;
    font-size: 2.5vw;
}

.type-title:hover,
.priority-title:hover {
    cursor: default;
}

.type-btns {
    display: flex;
    align-items: flex-end;
    gap: 15%;
    width: 40%;
}

.add-btn-todo,
.add-btn-project {
    border: none;
    outline: none;
    background-color: #EBF5EE;
    font-size: 1.8vw;
    color:#542344;
    font-family: 'Fraunces', serif;
}

.add-btn-todo:hover,
.add-btn-project:hover,
input[type="date"]:hover,
.priority-label:hover,
input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.add-btn-todo:active,
.add-btn-project:active,
input[type="date"]:active,
.priority-label:active,
input[type="submit"]:active {
    transform: translate(-1px, 1px);
}

.add-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    border: none;
    outline: none;
    background-color: #542344;
    color: #EBF5EE;
    font-size: 1.5vw;
    padding: 1% 4%;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/* To-do Add */
.add-info {
    display: grid;
    grid-template-columns: 57% 40%;
    column-gap: 3%;
    padding: 0 2% 0 5%;
}

.add-text {
    display: grid;
    grid-template-rows: 15% 75%;
    row-gap: 10%;
}

input[type="text"],
textarea {
    font-family: 'Overpass', serif;
    font-size: 1.25vw;
    background-color: #EBF5EE;
    border: none;
    outline: none;
}

.add-textarea {
    font-size: 1.1vw;
    resize: none;
}

.add-details {
    display: grid;
    grid-template-rows: 40% 40%;
    row-gap: 20%;
}

.details-date,
.details-priority {
    display: flex;
    flex-direction: column;
    gap: 20%;
    align-items: center;
}

.date-title,
.priority-title {
    font-size: 1.25vw;
}

.date-input {
    width: 10vw;
    padding: 3% 6%;
    font-size: 1vw;
    background-color: #EBF5EE;
    border: 1px solid #542344;
    color: #542344;
    border-radius: 4px;
}

.priority-radios {
    display: flex;
    width: 13vw;
    justify-content: space-between;
    align-items: center;
}

input[type="radio"] {
    position: relative;
    left: 2.2rem;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.priority-label {
    display: inline-block;
    font-size: 1vw;
    padding: 5px 10px 2px;
    border-radius: 4px;
    background-color: #EBF5EE;
}

.low {
    border: 1px solid #c4a9bb;
    color: #c4a9bb;
}

.medium {
    padding: 5px 4px 2px;
    border: 1px solid #99728c;
    color: #99728c;
}

.high {
    border: 1px solid #542344;
    color: #542344;
}

.low-checked {
    background-color: #c4a9bb;
    color: #EBF5EE;
}

.medium-checked {
    background-color: #99728c;
    color: #EBF5EE;
}

.high-checked {
    background-color: #542344;
    color: #EBF5EE;
}

/* Project Add */

.add-project {
    display: none;
}

#add-project {
    width: 60%;
}




/* RESPONSIVE STYLES */

@media (max-width: 1000px) {
    html {
      font-size: 60%;
    }
  }
  
  @media (max-width: 800px) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 40%;
    }
  }